{
  "walletAddress": "",
  "walletPrivateKey": "",
  "traderJoeRouterAddress": "0x60ae616a2155ee3d9a68541ba4544862310933d4",
  "amountToSpendPerSnipe": "0.005",
  "transactionRevertTimeSeconds": "10000",
  "gasAmount": "300000",
  "gasPrice": "20",
  "snowtraceScanAPIKey": "",
  "observeOnly": "True",
  "checkSourceCode": "True",
  "checkMintFunction": "True",
  "checkHoneypot": "True",
  "checkTraderJoeRouter": "True"
}
